<main>
  <!-- By using ngSwitch -->

  <!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
      <happ-rooms></happ-rooms>
    </div>
    <div *ngSwitchCase="'User'">
      <happ-my-component></happ-my-component>
      <p>Hello User! Ready to book your night?</p>
    </div>
    <div *ngSwitchDefault>
      <p>
        You won't be seeing me here but if everything went wrong, I'll be here
      </p>
    </div>
  </div>
  <button (click)="roleSwitcher()">
    Click me to change role. Current Role: {{ role }}
  </button> -->

  <div>
    <!-- when we define the hash with any html tag, we can access that tag
    inside the TS file using ViewChild. Can modify as well. -->
    <div #myTitle></div>
    <happ-exterior>
      <p style="color: pink">
        I am accessing this from app component using ng-content!
      </p>
    </happ-exterior>
    <happ-rooms></happ-rooms>
    <!-- <div *ngIf="role === 'user'; then userRef; else adminRef"></div> -->
    <!-- <ng-template #adminRef></ng-template> -->
    <!-- <ng-template #userRef></ng-template> -->
    <button class="btn btn-secondary" (click)="roleSwitcher()">
      Click me to change role. Current Role: {{ role }}
    </button>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
