<h1>{{ totalBytes }} bytes has been loaded</h1>

<happ-header></happ-header>
<happ-header></happ-header>
<happ-header></happ-header>
<h2>Rooms details</h2>
<hr />
<!-- {{ rooms$ | async | json }} -->

<!-- <div [innerText]="numberOfRooms"></div> -->

<div>
  Total rooms:
  <span
    style="
      background-color: rgba(116, 39, 39, 50);
      padding: 0.25rem;
      border-radius: 5px;
    "
    >{{ rooms.totalRooms }}</span
  >
</div>
<div *ngIf="rooms.availableRooms > 0">
  Rooms available to book:
  <span
    style="
      background-color: rgba(116, 39, 39, 50);
      padding: 0.25rem;
      border-radius: 5px;
    "
    [ngStyle]="{
      color: rooms.availableRooms > rooms.bookedRooms ? 'green' : 'red'
    }"
    >{{ rooms.availableRooms }}</span
  >
</div>

<p *ngIf="rooms.availableRooms === 0">No rooms available!</p>

<button (click)="availableModifier.remove()">remove</button>
<button (click)="availableModifier.add()">add</button>

<div *ngIf="rooms.bookedRooms > 0">
  Booked rooms:
  <span
    style="
      background-color: rgba(116, 39, 39, 50);
      padding: 0.25rem;
      border-radius: 5px;
    "
    >{{ rooms.bookedRooms }}</span
  >
</div>

<!-- <div>
  {{ roomsList | json }}
</div> -->

<hr />

<button class="btn btn-primary" (click)="addRooms()">Add rooms</button>
<button class="btn btn-primary" (click)="roomTitleHandler()">
  change title
</button>

<div *ngIf="titleChangeCounter">
  You changed the title {{ titleChangeCounter - 1 }} times!
</div>

<ul *ngIf="toggleList">
  <h3>
    {{ getError$ | async }}
  </h3>
  <happ-rooms-list
    [rooms]="roomsList$ | async"
    [title]="roomListTitle"
    (roomSelected)="selectRoom($event)"
    (changeCounter)="setChangeCounter($event)"
    (roomToEdit)="editRooms($event)"
    (roomToDelete)="deleteRoom($event)"
  ></happ-rooms-list>
</ul>

<button class="btn btn-primary" (click)="toggleListHandler()">
  toggle list
</button>

<div *ngIf="highlightedRoom">
  <div>You selected {{ highlightedRoom.roomType }}!</div>
  <div>That will be {{ highlightedRoom.price | currency : "MYR" }}</div>
</div>

<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->
