* {
  color: white;
}

button {
  color: black;
}

.even {
  & > .room-desc {
    color: peachpuff;
  }
  & > .room-header {
    color: peru;
  }
}

.odd {
  & > .room-desc {
    color: skyblue;
  }
  & > .room-header {
    color: darkcyan;
  }
}
